@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
img {max-width: 100%;
  height: auto;
}
.banner2 {
    display: flex;
    justify-content: center;
    /* margin-left: 25%;
    margin-right: 25%; */
    padding-top: 1%;
}
.banner2 {
    margin-left: 25%;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding-right: 10%;
    padding-left: 3%;
    font-weight: bold;
}
nav {
    background: #46ACC2;
    height: 80px;
    width: 100%;
}
nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;    
}
a:hover,a:active{
    background: none;
    color: black;
}
nav ul li a {
    font-size: 16px;
    }
a:hover,a:active{
    background: none;
    color: black;
}

/*index section */
h1 {
    text-align: center;

}
body {
    margin: 0;
    font-family: 'open Sans', sans-serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    background-color: #f7f7f7;
    overflow: auto;
}

img {
    max-width: 100%;
}


header {
    text-align: left;
}

/* Navbar Portion  */

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
/* Body Sectiong */
.left-col {
    margin-left: 20%;
    width: 55%;
    float: left;
    padding: 1%;
}
.one-third {
    display: inline-flexbox
    justify-content: space-around;
    margin-left: 2%;
    width: 30%;
    float: left;
    padding: 2%;
}
.clearfix {
    clear: both;
}

/* Footer Section */
footer {
    background-color: #46ACC2;
    width: 100%;
    padding: 3% 5% 3%;

}
.social {
    font-size: 400%;
}
.social a {
    color: white;
    padding: 3%;
}
.social a:hover {
    color: black;
}





@media (max-width: 1031px) {
    html {
        overflow-x: auto;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .banner2 {
        width: 100%;
        margin-left: 0;
        margin-right: 0;   
    }
    h1 {
        text-align: center;
    }

    /* nav tabs */
    nav ul {
        width: 100%;
        margin-right: 0;
        background-color: #46ACC2;
    }
    nav ul li {
        /* width: 100%; */
        border-left: 0;
        border-right: 0;
        border-width: auto;   
    }
    nav ul li a {
        padding: 8px 0;
        font-size: 16px;
        align-content: center;
    }
    /* 
    
    nav ul li a {
        font-size: 16px;
    }
    
    /* ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #0082e6;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    } */
    /* nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        } */
    a:hover,
    a.active {
        background: black;
        /* color:#1b9bff; */
    }
    .left-col {
        width: 100%;
        padding: 1%;
    }
    .sidebar {
        width: 100%;
        padding: 0;
    }
    .one-third {
        width: 100%;
        padding: 1%;
    }
    .social {
        font-size: 200%;
    }
    p {
        font-size: 15px;
    }
    */
}

@media (max-width: 768px) {
    label.logo {
        display: inline-flexbox;
        justify-content: center;
        padding: 8px 0;
        font-size: x-large;
    }
    .banner2 {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    nav ul {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        background-color: #46ACC2;
    }
    nav ul li {
        width: 100%;
        border-left: 10px;
        border-right: 0;
        border: 1px solid white;
        border-width: auto;
    }
    nav ul li a {
        padding: 8px 0;
        font-size: 16px;
    }
    img {
        max-width: 100%;
        height: auto;
        align-content: center;
      }
    /* 
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: #0082e6;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
        /* nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        } */
    a:hover,
    a.active {
        background: none;
    }
    .left-col {
        margin-left: 0%;
        width: 100%;
        padding: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .one-third {
        width: 95%;
        padding: 0;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .social {
        font-size: 200%;
    }
    p {
        font-size: 15px;
    }
    */
}